<p>
  usertodos works!
</p>

<ul>
  <li *ngFor="let todo of todos"> {{todo.text}} - {{todo.id}}</li>
</ul>
<input [(ngModel)] ="name" name="name">
<button (click)="showname()">show name</button>
<h1 *ngIf = "show1">{{name}}</h1>
