<a routerLink = "">Todos</a>-
<a routerLink = "login">Login</a>
<button (click) = "toRegister()">
  Register
</button>-
<button (click) = "toCodes()" >
  Codes
</button>
<button (click) = "toUser()" >
  Usertodos
</button>